.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(var(--teal-dark-5-rgb), 0.85);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 40px;
  }
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--teal-dark-1);
}

@media (max-width: 1024px) {
  .header h1 span {
    display: none;
  }
}
